<h1>Index User</h1>

<%= link_to 'New User', new_user_path %>

<table>
	  <tr>
    <th>Name</th>
    <th>LASTNAME</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.lastname %></td>

    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
<tr><td>	<td><%= link_to 'Blog', posts_path %></td></td></tr>

</table>



